<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.PaymentMapper">

 <select id="listAll" resultType="org.zerock.domain.PaymentVO">
 <![CDATA[
 select 
    paymentnum, type, amount, paymentdate, ordernum
 from 
   payment 
 ]]>  
 </select>	

</mapper>